# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Video
assets/videos/*

# OSX
.DS_Store

release/app/dist
release/build
.erb/dll

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts

__pycache__

assets/videos/demo-video.mp4
assets/audio/audio.wav
assets/thumbnails/thumbnail.png

venv
src/pyServer/deepspeech-0.9.3-models.pbmm
src/pyServer/deepspeech-0.9.3-models.scorer

experiments/**/assets
