​ body {
  background-color: #001a32;
  color: #dadada;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
}

.video-container {
  width: 80%;
  max-width: 1024px;
}

.controls-container {
  padding: 32px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.timers-container {
  display: flex;
  gap: 8px;
}

.timer {
  padding: 8px;
  background-color: #fdfdfd;
  width: 140px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
