/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@font-face {
  font-family: 'Roboto Mono';
  src: url('../../assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
